@inherits LayoutComponentBase
@inject NavigationManager nav
<PageTitle>Bazaro</PageTitle>

<div class="page">
    <div style="z-index: +2;">
        <NavBar/>
    </div>
    <AuthorizeView>
        <Authorized>
            <div style="z-index: +2;">
                <NavBar2/>
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <div class="top-row px-4 auth" >
            <LoginDisplay />
        </div>

        <article class="content px-4" style="margin-left: 270px;">
            <div class="container">
                @Body
            </div>
        </article>
    </main>
</div>

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&display=swap');

    html, body {
        font-family: 'Josefin Sans', sans-serif;
    }

</style>

@code{
    private void NavToCounter()
    {
        nav.NavigateTo("counter");
    }
}