@inherits LayoutComponentBase
@inject NavigationManager nav
<PageTitle>Bazaro.Web</PageTitle>

<div class="page">
    <div>
        <NavBar/>
    </div>
    <AuthorizeView>
        <Authorized>
            <div>
                <NavBar2/>
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="http://www.5z8.info/dogfights_oums" target="_blank">About</a>
        </div>

        <article class="content px-4" style="margin-left: 270px">
            @Body
        </article>
    </main>
</div>

@code{
    private void NavToCounter()
    {
        nav.NavigateTo("counter");
    }
}