@using Bazaro.Data.Models
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject FolderService fs
@inject EntryService es
@inject AuthenticationStateProvider auth


<Sidebar Data="@sidebarInfo" />
<Button @onclick="LoadFolders">TESTETSTETSTETSETS</Button>

@code{
    private List<Folder> _folders;
    private Entry[,] _entries;

    SidebarInfo sidebarInfo = new SidebarInfo
    {
        Brand = new SidebarBrandInfo
        {
            Text = "Bazaro"
        },
        Items = new List<SidebarItemInfo>
    {
            new SidebarItemInfo { To = "#", Text = "Folder 1" },
            new SidebarItemInfo
            {
                Text = "Folder 2",
                SubItems = new List<SidebarItemInfo>
            {
                    new SidebarItemInfo { To = "#email/inbox", Text = "Note 1" },
                    new SidebarItemInfo { To = "#email/compose", Text = "Note 2" },
                }
            },
            new SidebarItemInfo
            {
                Text = "Folder 3",
                SubItems = new List<SidebarItemInfo>
            {
                    new SidebarItemInfo { To = "#apps/todo", Text = "Note 1" }
                }
            },
        }
    };



    private async Task LoadFolders()
    {
        var state = await auth.GetAuthenticationStateAsync();
        var userId = state.User.FindFirst(ClaimTypes.NameIdentifier);
        var x = 1;
        //_folders = fs.GetViewFolderStructureByuserId();
    }


}