@using System.Security.Claims
@using Bazaro.Web.Models
@using Bazaro.Web.Services
@using Bazaro.Web.Services.Models
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@inject FolderService fs
@inject EntryService es
@inject HttpContextAccessor http
@inject UserManager<User> um


<Sidebar Data="@sidebarInfo" />
<Button @onclick="LoadFolders">TESTETSTETSTETSETS</Button>

@code{
    private List<FolderModel> _folders;
    private Entry[,] _entries;

    SidebarInfo sidebarInfo = new SidebarInfo
    {
        Brand = new SidebarBrandInfo
        {
            Text = "Bazaro"
        },
        Items = new List<SidebarItemInfo>
    {
            new SidebarItemInfo { To = "#", Text = "Folder 1" },
            new SidebarItemInfo
            {
                Text = "Folder 2",
                SubItems = new List<SidebarItemInfo>
            {
                    new SidebarItemInfo { To = "#email/inbox", Text = "Note 1" },
                    new SidebarItemInfo { To = "#email/compose", Text = "Note 2" },
                }
            },
            new SidebarItemInfo
            {
                Text = "Folder 3",
                SubItems = new List<SidebarItemInfo>
            {
                    new SidebarItemInfo { To = "#apps/todo", Text = "Note 1" }
                }
            },
        }
    };



    private async Task LoadFolders()
    {
        var username = http.HttpContext.User.Identity.Name;
        var userId = (await um.FindByNameAsync(username)).Id;

        _folders = await fs.GetViewFolderStructureByuserId(userId);
    }


}