@inject NavigationManager nav

<div class="wrapper">
    <Menu Style="width: 58px; height: 100%;"
          Theme=theme   
          Mode=@MenuMode.Inline
          Class="sidebar">
            <MenuItem Key="1" @onclick="@(() => NavToStr("/"))">
			    <IconTemplate>
                    <Icon Type="radar-chart" Theme="outline"/>
				    <IconFont Type="icon-c-sharp-l" />
			    </IconTemplate>
		    </MenuItem>
            <MenuItem Key="2" @onclick="@(() => NavToStr("/dashboard"))">
			    <IconTemplate>
                    <Icon Type="home" Theme="outline"></Icon>
				    <IconFont Type="icon-c-sharp-l" />
			    </IconTemplate>
		    </MenuItem>
            <MenuItem Key="3" @onclick="@(() => NavToStr("/calendar"))">
			    <IconTemplate>
                    <Icon Type="calendar" Theme="outline"></Icon>
				    <IconFont Type="icon-c-sharp-l" />
			    </IconTemplate>
		    </MenuItem>
    </Menu>
</div>

@code
{
    MenuTheme theme = MenuTheme.Dark;

    private async Task NavToStr(string NavString)
    {
        nav.NavigateTo(NavString);
    }
}