@page "/"

<div class="container center-container" style="padding-left: 20%; padding-right: 20%">
    <!-- ROW 1 -->
    <div class="row">
        <h1 class="headline">A second brain,<br>for you, forever.</h1>
    </div>
    
    <!-- ROW 2 -->
    <div class="row" >
        <div class="hero-intro-text">
			<p>Bazaro is a powerful <b class="u-pop">knowledge</b> and <b class="u-pop">time managment base</b> on top of a <b class="u-pop">always accesible folders</b> of simple Markdown files.</p>
		</div>
    </div>
    <br/>
    <AuthorizeView>
        <NotAuthorized>
            <!-- ROW 3 Login -->
            <div class="row">
                <div class="col-6">
                    <a href="Identity/Account/Login" class="btn btn-outline-primary btns">Log in</a>
                </div>
                <div class="col-6">
                    <a href="Identity/Account/Register" class="btn btn-outline-primary btns">Register</a>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
	<br/>
	<br/>
	<br/>
    <!-- ROW 4 -->
    <div class="row">
        <h2>Reviews from our loyal customers</h2>
        <div class="testimonial-container">
		<div class="testimonial">
			<div class="testimonial-text">I don’t give app of the year awards, but I would <span class="u-stand-out">100% give it to Bazaro</span>
				for slowly taking over almost everything I do that has anything to do with text files.
			</div>
			<div class="testimonial-person">Anonymous User
			</div>
		</div>

		<div class="testimonial">
			<div class="testimonial-text">
				Bazaro looks good, works great, and most importantly, it <span class="u-stand-out">allows me to organize</span> my data.
			</div>
			<div class="testimonial-person">Tobias Müller<br>
			</div>
            <div class="testimonial-title">Software Engineer
			</div>
		</div>

		<div class="testimonial">
			<div class="testimonial-text">
				Bazaro is <span class="u-stand-out">life changing</span>.
				<br>
				It's not just a note taking app, it's a better way to think.
			</div>
			<div class="testimonial-person">Anonymous User
			</div>
		</div>

		<div class="testimonial">
			<div class="testimonial-text">Bazaro makes me more productive <span class="u-stand-out">on every
				device</span>. My entire "second brain" now gets synced up easily and is available everywhere.
			</div>
			<div class="testimonial-person">Niklas Lerchenmüller
			</div>
			<div class="testimonial-title">Software Engineer
			</div>
		</div>
	</div>
    </div>
</div>


<style>
.headline {
    font-size: 70px;
    line-height: 86px;
    margin-bottom: 24px;
    color: #3F3047;
    font-weight: bold;
}

.hero-intro-text {
    font-size: 24px;
    line-height: 36px;

}

.center-container{
    text-align: center;
}

html, body {
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
    line-height: 1.5em;
    font-size: 16px;
}

.btns
{
    height: 120%;
    width: 100%;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.testimonial {
  padding: 10px 10px;
  margin: 10px 20px 20px 20px;
  font-size: 17px;
  line-height: 1.5;
  max-width: 700px;
  width: calc(50% - 60px);
}
.testimonial.mod-full-width {
  max-width: 800px;
  width: 100%;
}
.testimonial a {
  text-decoration: none;
}
.testimonial-text {
  color: var(--text-muted);
  font-size: 20px;
}
.testimonial-person {
  margin-top: 16px;
  font-size: 17px;
  font-weight: 600;
  color: var(--text-normal);
}
.testimonial-person a {
  color: var(--text-normal);
  transition: color 150ms ease-in-out;
}
.testimonial-person a:hover {
  color: var(--text-accent);
}
.testimonial-title {
  font-size: 15px;
  margin-top: 4px;
}

.u-stand-out {
  color: var(--text-normal);
  font-weight: 600;
}

</style>


@code 
{
    private async Task NavToRegister()
    {
        
    }
}