@page "/dashboard"
@using Blazorise
@using Blazorise.Sidebar
@using Blazorise.Markdown
@using Blazorise.TreeView
@using Blazorise.Charts
@inject NavigationManager Nav
@inject CalendarService calendarService
@inject ItemService itemService

<div class="container" style="padding-left: 10%; padding-right: 10%">
<h3>Dashboard</h3>
    <!-- ROW 1 -->
    <div class="row">
        <div class="col-6">
        <div class="row fullsize">
            <div class="col">
                <Blazorise.Card Margin="Margin.Is4.OnY" Class="fullsize">
                    <CardBody>
                        <CardTitle Size="5">Recently Opened</CardTitle>
                        <CardText>
                            @if(_last5Entries is not null)
                                {
                                    @foreach(var entry in _last5Entries)
                                    {
                                        <br/>
                                        <button class="btn btn-link" @onclick="() => OpenEntry(entry.Id)">@entry.Title</button>
                                    }
                                }
                            </CardText>
                    </CardBody>
                </Blazorise.Card>
            </div>
        </div>

        </div>
        <div class="col-6">
            <Blazorise.Card Margin="Margin.Is4.OnY">
                    <CardBody>
                        <CardTitle Size="5">This weeks's events</CardTitle>
                        <CardText>
                        <div  style="display: inline">

                            @if(_calendarEntries is not null)
                            {
                                @foreach(var entry in _calendarEntries)
                                {
                                    @if(entry is not null)
                                    {
                                        <Label>- @entry.Entry.Title</Label>
                                    }
                                }
                            }
                            </div>
                        </CardText>
                    </CardBody>
                </Blazorise.Card>
                <Blazorise.Card Margin="Margin.Is4.OnY">
                    <CardBody Class="fullsize">
                        <CardTitle Size="5">Quick note</CardTitle>
                        <CardText>
                                <TextArea Rows="4" @bind-Value="@quicknoteContent" />
                                <Blazorise.Button @onclick="() => CreateNewQucikNote(quicknoteContent)" Color="Blazorise.Color.Success" Style="float: right; margin-top: 5px">Add to Quicknotes</Blazorise.Button>
                        </CardText>
                    </CardBody>
                </Blazorise.Card>
        </div>
    </div>
</div>



<style>
    .fullsize{
        height: 100%
    }
    .top-buffer { margin-top:20px; }
</style>
