@page "/dashboard"

<div class="container" style="padding-left: 10%; padding-right: 10%">
<h3>Dashboard</h3>
    <!-- ROW 1 -->
    <div class="row">
        <div class="col-6">
        <div class="row fullsize">
            <div class="col">
                <Card Margin="Margin.Is4.OnY" Class="fullsize">
                    <CardBody>
                        <CardTitle Size="5">Recently Opened</CardTitle>
                        <CardText>
                            <br/>
                            <TreeView Nodes="Items"
                                      GetChildNodes="@(item => item.Children)"
                                      HasChildNodes="@(item => item.Children?.Any() == true)"
                                      @bind-SelectedNode="selectedNode"
                                      @bind-ExpandedNodes="ExpandedNodes">
                                <NodeContent>@context.Text</NodeContent>
                            </TreeView>
                        </CardText>
                    </CardBody>
                </Card>
            </div>
        </div>

        </div>
        <div class="col-6">
            <Card Margin="Margin.Is4.OnY">
                    <CardBody>
                        <CardTitle Size="5">Today's events</CardTitle>
                        <CardText>
                            <div  style="display: inline">
                                <label>- Meet with Mr. McDonald to discuss bigmac prices</label><br/>
                                <label>- Do homework</label><br/>
                                <label>- Bubatz durchziehen</label><br/>
                                <label>- Go to sleep at 10PM</label><br/>
                            </div>
                        </CardText>
                    </CardBody>
                </Card>
                <Card Margin="Margin.Is4.OnY">
                    <CardBody Class="fullsize">
                        <CardTitle Size="5">Quick note</CardTitle>
                        <CardText>
                                <MemoEdit Rows="3"/>
                                <Button Color="Color.Success" Style="float: right; margin-top: 5px">Add to Quicknotes</Button>
                        </CardText>
                    </CardBody>
                </Card>
        </div>
    </div>

    <!-- ROW 2 -->
    <div class="row top-buffer" >
        <div class="col-lg-12">
                <Card Margin="Margin.Is4.OnY">
                    <CardBody>
                        <CardTitle Size="5">Statistics</CardTitle>
                        <CardText>
                            <Button Clicked="@(async () => await HandleRedraw())">Redraw</Button>
                            <LineChart @ref="lineChart" TItem="double" />
                        </CardText>
                    </CardBody>
                </Card>        
        </div>
    </div>

    <!-- ROW 3 -->
    <div class="row">
        <div class="col">
            <!--div style="background-color: blueviolet; padding: 10px; border: 1px solid green;"/-->
        </div>
        <div class="col">
            <!--div style="background-color: blueviolet; padding: 10px; border: 1px solid green;"/-->
        </div>
    </div>
</div>


<style>
    .fullsize{
        height: 100%
    }
    .top-buffer { margin-top:20px; }
</style>
