@page "/dashboard"
@inject NavigationManager Nav
@inject CalendarService calendarService
@inject ItemService itemService

<div class="container" style="padding-left: 10%; padding-right: 10%">
<h3>Dashboard</h3>
    <!-- ROW 1 -->
    <div class="row">
        <div class="col-6">
        <div class="row fullsize">
            <div class="col">
                <Card Margin="Margin.Is4.OnY" Class="fullsize" Title="Recently Opened">
                    <Body>
                            @if(_last5Entries is not null)
                                {
                                    @foreach(var entry in _last5Entries)
                                    {
                                        <br/>
                                        <button class="btn btn-link" @onclick="() => OpenEntry(entry.Id)">@entry.Title</button>
                                    }
                                }
                    </Body>
                </Card>
            </div>
        </div>

        </div>
        <div class="col-6">
            <Card Margin="Margin.Is4.OnY" Title="This weeks's events">
                    <Body>
                        <div  style="display: inline">

                            @if(_calendarEntries is not null)
                            {
                                @foreach(var entry in _calendarEntries)
                                {
                                    @if(entry is not null)
                                    {
                                        <Label>- @entry.Entry.Title</Label>
                                    }
                                }
                            }
                            </div>
                    </Body>
                </Card>
                <Card Margin="Margin.Is4.OnY" Title="Quick note">
                    <Body >
                                <TextArea Rows="4" @bind-Value="@quicknoteContent" />
                                <Blazorise.Button @onclick="() => CreateNewQucikNote(quicknoteContent)" Color="Blazorise.Color.Success" Style="float: right; margin-top: 5px">Add to Quicknotes</Blazorise.Button>
                    </Body>
                </Card>
        </div>
    </div>
</div>



<style>
    .fullsize{
        height: 100%
    }
    .top-buffer { margin-top:20px; }
</style>
