@page "/NotePreview/{EntryId:int}"
@using System.Text
@using Bazaro.Web.Services
@using Bazaro.Web.Models
@inject ItemService itemservice
@inject EntryService entryservice
@inject NavigationManager NavManager

<AuthorizeView>
    <Authorized>
        <div >
            @if(entry != null)
            {
        
                <h1>@entry.Title</h1>
            }  
        </div>
        <div  id="editor">
            @((MarkupString)markdownHtml)
        </div>
        <div >
            <Button Type="@ButtonType.Primary" @onclick="() => ShowEditor()" >Show Editor</Button>
        </div>

        <style>
            .editor {
                height: 100%;
            } 
        </style>
    </Authorized>
    <NotAuthorized>
        <a>Unauthorized to view this page.</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int EntryId { get; set; }

    private string markdownHtml;
    private EntryModel entry { get; set; }

    protected override async Task OnInitializedAsync()
    {

        entry = await entryservice.GetEntryById(new Services.Queries.Entries.GetEntryById.Query
        {
            Id = EntryId
        }
        );
        if(entry != null)
        {
            ItemModel item = new();
            item = await itemservice.GetViewItemByStartId((int)entry.StartItemId);
            if(item.ContentType.Id == 1)
            {
                if(item.Content != null)
                {
                    string markdownText = Encoding.UTF8.GetString(item.Content);
                    markdownHtml = Markdig.Markdown.ToHtml(markdownText ?? string.Empty);
                }

            }
        }
        await base.OnInitializedAsync();
    }

    private void ShowEditor()
    {
        NavManager.NavigateTo("/NoteEditor/" + EntryId);
    }

}