@page "/edit/{noteId}"
@using System.Text

<h3>Edit Note</h3>

<Markdown Value="@markdownValue" ValueChanged="@OnMarkdownValueChanged" />
@code{
    [Parameter]
    public string NoteId { get; set; }


    string markdownValue = "# EasyMDE \n Go ahead, play around with the editor! Be sure to check out **bold**, *italic*, [links](https://google.com) and all the other features. You can type the Markdown syntax, use the toolbar, or use shortcuts like `ctrl-b` or `cmd-b`.";
    string markdownHtml;

    protected override void OnInitialized()
    {
        LoadMarkdownDataFromNoteId(NoteId);

        markdownHtml = Markdig.Markdown.ToHtml( markdownValue ?? string.Empty );

        base.OnInitialized();
    }

    Task OnMarkdownValueChanged(string value)
    {
        markdownValue = value;

        markdownHtml = Markdig.Markdown.ToHtml( markdownValue ?? string.Empty );

        return Task.CompletedTask;
    }

    private void LoadMarkdownDataFromNoteId(string noteId)
    {
        // get byte arr of current note
    }



    private string ConvertByteArrayToString(byte[] byteArray)
    {
        return Encoding.Default.GetString(byteArray);
    }

    private byte[] ConvertStringToByteArray(string String)
    {
        return Encoding.Default.GetBytes(String);
    }
}
